.contacts
    a.contact(href='tel:+74951234567')
        i.fa.fa-mobile.contact__icon
        span.contact__text +74951234567
    a.contact(href='mailto:info@exmaple.com')
        i.fa.fa-envelope.contact__icon.contact__icon--email
        span.contact__text info@exmaple.com
    a.facebook-icon(href='facebook.com')
        i.fa.fa-facebook(aria-hidden="true")